<div id="right_bar" class="row">
	<div class="col-md-12">
		<div class="add_links">
			<h5 class="message-title">চেয়ারম্যান</h5>
			<a href="{{ chairman_link }}" alt="চেয়ারম্যান" title="">
				<img class="img img-responsive picture" src="{{ image_dir }}/gazipur-chairman.jpg" alt="" width="100%" height="45px;">
			</a>
			<div class="footer">
				<p class="message-name">জনাব আখতারুজ্জামান</p>
				<p class="message-name"><a class="message-link" href="{{ chairman_link }}">বিস্তারিত</a></p>
			</div>
		</div>
		<div class="add_links">
			<h5 class="message-title">প্রধান নির্বাহী কর্মকর্তা</h5>
			<a href="{{ header_officer_link }}" alt="প্রধান নির্বাহী কর্মকর্তা" title="">
				<img class="img img-responsive picture" src="{{ image_dir }}/ddlg_jamil-ahmed.jpg" alt="" width="100%" height="45px;">
			</a>
			<div class="footer">
				<p class="message-name">জনাব জামিল আহমেদ</p>
				<p class="message-name"><a class="message-link" href="{{ header_officer_link }}">বিস্তারিত</a></p>
			</div>
		</div>
		<div class="add_links">
			<a href="/site/view/district_branding_home" alt="জেলা ব্র্যান্ডিং" title="">
				<img class="img img-responsive" src="http://bangladesh.gov.bd/sites/default/files/files/bangladesh.gov.bd/graphical_result_button/d2712647_cde4_4e80_afdc_a1ab27bcd2bd/Tamplate_DistrictBranding_b (3).png" alt="" width="100%" height="45px;">
			</a>
		</div>
		<div class="add_links">
			<a href="/site/view/sps_data" alt="সেবা সহজিকরন" title=""> 
				<img src="http://bangladesh.gov.bd/sites/default/files/files/bangladesh.gov.bd/graphical_result_button/17dd9bb7_0856_4824_897e_6136ac6ca9b2/Tamplate_sps_bn.png" alt="" width="100%" height="45px;">
			</a>
		</div>
		<div class="add_links">
			<a href="http://online.forms.gov.bd" alt="ই-সেবার আবেদন" title=""> 
				<img src="http://bangladesh.gov.bd/sites/default/files/files/bangladesh.gov.bd/graphical_result_button/6b8058ef_c17d_4a2d_9b26_b4779731503b/Tamplate_eservice_bn%20(1).png" alt="" width="100%" height="45px;">
			</a>
		</div>
		<div class="add_links">
			<table style="width:100%;table-layout:fixed;">
				<tbody>
					<tr>
						<td class="apply-online">
							<a href="/site/view/jobcorner" style="" title="চাকুরি (০)">
								<span>চাকুরি <sup>(০)</sup></span>
							</a>
						</td>
						<td class="apply-online">
							<a href="/site/view/tendercorner" style="" title="টেন্ডার (০)">
								<span>টেন্ডার <sup>(০)</sup></span>
							</a>
						</td>
						<td class="apply-online">
							<a href="/site/view/adcorner" style="" title="বিজ্ঞাপন (০)">
								<span>বিজ্ঞাপন <sup>(০)</sup></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="add_links">
			 <a target="_blank" title="" href="http://webmail.mopa.gov.bd/">
				<img src="{{ image_dir }}moopa_web_bn.jpg" alt="" width="100%">
			 </a>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-central">কেন্দ্রীয় ই-সেবা</h5>
				<ul>
					<li class="item_1"><a href="http://online.forms.gov.bd/" title="অনলাইনে সেবার আবেদন">অনলাইনে সেবার আবেদন</a></li>
					<li class="item_2"><a href="http://www.nothi.gov.bd/users/login" title="নথি">নথি</a></li>
					<li class="item_3"><a href="http://bangladesh.gov.bd/site/page/5c238920-a65f-4168-9c2b-70c39dc7cb1c" title="প্রয়োজনীয় এপস ">প্রয়োজনীয় এপস </a></li>
					<li class="item_4"><a href="http://bris.lgd.gov.bd/pub/?pg=application_form" title="জন্ম ও মৃত্যু নিবন্ধন">জন্ম ও মৃত্যু নিবন্ধন</a></li>
					<li class="item_5"><a href="http://xn--d5by7bap7cc3ici3m.xn--54b7fta0cc/" title="উত্তরাধিকার ক্যালকুলেটর">উত্তরাধিকার ক্যালকুলেটর</a></li>
					<li class="item_6"><a href="http://pcc.police.gov.bd/en/" title="অনলাইন পুলিশ ক্লিয়ারেন্স">অনলাইন পুলিশ ক্লিয়ারেন্স</a></li>
					<li class="item_7"><a href="http://www.dip.gov.bd/site/page/f2d015a9-1132-4426-8eef-147f1c4bac8a" title="অনলাইনে পাসপোর্টের আবেদন">অনলাইনে পাসপোর্টের আবেদন</a></li>
					<li class="item_8"><a href="https://services.nidw.gov.bd/" title="জাতীয় পরিচয়পত্রের তথ্য হালনাগাদকরণ">জাতীয় পরিচয়পত্রের তথ্য হালনাগাদকরণ</a></li>
					<li class="item_9"><a href="http://www.cga.gov.bd/index.php?option=com_wrapper" title="অনলাইন চালান যাচাইকরণ">অনলাইন চালান যাচাইকরণ</a></li>
					<li class="item_10"><a href="http://www.nbrepayment.gov.bd/" title="অনলাইন আয়কর পরিশোধ">অনলাইন আয়কর পরিশোধ</a></li>
					<li class="item_11"><a href="http://www.bmet.gov.bd/BMET/onlinaVisaCheckAction" title=" ভিসা যাচাই "> ভিসা যাচাই </a></li>
					<li class="item_13"><a href="http://www.echallan.gov.bd/" title="ই চালান">ই চালান</a></li>
					<li class="item_14"><a href="http://accessibledictionary.gov.bd/" title="অভিগম্য অভিধান ">অভিগম্য অভিধান </a></li>					
				</ul>
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-dist">ই-সেবা কেন্দ্র, জেলা প্রশাসন</h5>
				<ul>
					<li class="item_1"><a href="/site/eservices/9caa8751-1db3-4bb5-9659-baff7cc39bef/নকলের-জন্য-আবেদন" title="নকলের জন্য আবেদন">নকলের জন্য আবেদন</a></li>
				</ul>
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-other">আভ্যন্তরীণ ই-সেবা</h5>
				<ul>
					<li><a href="/site/view/process_map/সেবা-পাবার-ধাপ-" title="সেবা পাবার ধাপ ">সেবা পাবার ধাপ </a></li>
					<li><a href="/site/view/info_officers/তথ্য-প্রদানকারী-কর্মকর্তা" title="তথ্য প্রদানকারী কর্মকর্তা">তথ্য প্রদানকারী কর্মকর্তা</a></li>
					<li><a href="http://bdlaws.minlaw.gov.bd/" title="অন্যান্য  আইন">অন্যান্য  আইন</a></li>
					<li><a href="http://bdlaws.minlaw.gov.bd/bangla_all_sections.php?id=1011/" title="তথ্য অধিকার আইন">তথ্য অধিকার আইন</a></li>
					<li><a href="http://bdlaws.minlaw.gov.bd/bangla_all_sections.php?id=950/" title="তথ্য প্রযুক্তি আইন ">তথ্য প্রযুক্তি আইন </a></li>
					<li><a href="/site/view/e-directory/ই--ডিরেক্টরী" title="ই- ডিরেক্টরী">ই- ডিরেক্টরী</a></li>
					<li><a href="https://www.facebook.com/জেলা-প্রশাসনগাজীপুর-553490618156444/" title="সামাজিক যোগাযোগ ফেসবুক">সামাজিক যোগাযোগ ফেসবুক</a></li>
					<li><a href="https://www.teachers.gov.bd/" title="শিক্ষক বাতায়ন">শিক্ষক বাতায়ন</a></li>
					<li><a href="http://online.forms.gov.bd/" title="বাংলাদেশ ফরম (অনলাইন)">বাংলাদেশ ফরম (অনলাইন)</a></li>
					<li><a href="http://www.forms.gov.bd/" title="বাংলাদেশ ফরম ( ডাউন লোড )">বাংলাদেশ ফরম ( ডাউন লোড )</a></li>
					<li><a href="/site/videogallery/d9d62def-2014-11e7-8f57-286ed488c766/ডিজিটাল-গাজীপুর" title="ডিজিটাল গাজীপুর">ডিজিটাল গাজীপুর</a></li>
					<li><a href="https://play.google.com/store/apps/details?id=com.vumi.seba/" title="ভূমি সেবা- মোবাইল অ্যাপ">ভূমি সেবা- মোবাইল অ্যাপ</a></li>
					<li><a href="/site/page/8a868c73-e443-4b28-9200-a475a564c993/প্রয়োজনীয়-বিধি-ও-নীতিমালা" title="প্রয়োজনীয় বিধি ও নীতিমালা">প্রয়োজনীয় বিধি ও নীতিমালা</a></li>
				</ul>
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-inno"><a title="ইনোভেশন কর্নার" href="/site/view/innovation_corner">ইনোভেশন কর্নার</a></h5>	
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-feed"><a title="আপনার মতামত" href="/site/view/portalfeedback">আপনার মতামত</a></h5>	
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-social">সামাজিক যোগাযোগ মাধ্যম</h5><br>
				<a title="" href="https://www.facebook.com/dcgazipur" target="_blank" class="share-buttons"> 
					<img src="{{ image_dir }}facebook.png" alt="" width="30px">
				</a>
				<a title=" " href="http://www.twitter.com" target="_blank" class="share-buttons"> 
					<img src="{{ image_dir }}twitter.png" alt="" width="30px">
				</a> 
				<a title=" " href="https://www.youtube.com/channel/UCP99H5x1LjNIkYlbxWiyYag" target="_blank" class="share-buttons"> 
					<img src="{{ image_dir }}youtube.png" alt="" width="30px">
				</a>
			</div>
		</div>
		<div class="add_links">
			<div class="central-eservices">
				<h5 class="eservice-title title-fall" style="border: none;">ফল আর্মিওয়ার্ম পর্যবেক্ষণ ও সনাক্তকরণ</h5>
				<iframe src="https://www.youtube.com/embed/zBAKSZqTkRg?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="220" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>
